input.radio {
    width: 30px;
    position: relative;
    height: 30px;
    top: 1em;
    float: inline-start;
    margin-left: 10%;
    accent-color: #fcfc46;
}

section.todo {
    background-color: #010532;
}


button#deleteLink:hover {
    background-color: rgb(200, 200, 200);
    color: rgb(144, 45, 20);
    border-color: rgb(144, 45, 20);
}

button#editLink:hover {
    background-color: rgb(117, 145, 238);
    color: #fcfc46;
    border-color: rgb(29, 19, 138);
}
.todoResource button {
    position:absolute;
    top: 5.75em;
    background: none;
    font-size: 1.2em;
    outline: none;
    border: 2px soild #000;
    border-radius: 5px;
    transition: .25s;
}

article.todoGallery div.todoResource {
    background-color: rgba(2, 40, 121, 0.85);
    border-radius: 10px;
    margin: 0;
    text-align: center;
    border: 2px solid #212529;
    position: relative;
    padding: 0 0 2em;
    height: 10em;
    color: #fcfc46;
}
 button#editLink{
    position:absolute;
    left: 10%;
}
button#deleteLink{
    right:10%;
}


.todoNav{
    background-color: #010532;

}
.textNav{
    color: #fcfc46;
}

h3.head{
    text-align: center;
    margin: auto;
    width: 50%;
   
    padding: 5px;
}